.pokedex{
    &__item {
        width: 100%;
        padding: 8px;
        display: flex;
        align-items: center;
        background-color: #e4e4e4;
        border-radius: 8px;
        margin-bottom: 8px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: translateX(-16px)
        }
        &:active {
            background-color: #d4d4d4;
        }

        &-name {
            font-size: 1.2rem;
        }
        &-num {
            justify-self: flex-end;
        }
    }
    &__img {
        display: inline-block;
        width: 48px;
        height: 48px;
        padding: 4px;
        margin-right: 1rem;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}